table, thead, tbody {
    width: 100%;
    height: 100%;
}
th, p {
    color: red;
}

div.monsters {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 56px);
}

div.main {
    text-align: center;
    height: 20%;
}
div.interface {
    height: 60%;
}
div.type {
    height: 20%;
}

p {
    width: auto;
    height: auto;
}
p.title {
    font-size: 70px;
    padding: 40px;
    padding-bottom: 0px;
    -webkit-user-select: text;
    user-select: text;
}
p.subtitle {
    font-size: 30px;
    padding: 10px;
    -webkit-user-select: text;
    user-select: text;
}

table {
    border: 2px solid red;
}
table.interface {
    border-bottom: 0px solid red;
}
table.type {
    border-top: 0px solid red;
}

thead {
    height: 16%;
}

tbody {
    height: 84%;
}
tbody.t {
    height: 100%;
}

td {
    text-align: center;
    border: 2px solid red;
    width: 10%;
    height: 21%;
    font-size: 40px;
}
td.i {
    color: red;
    background-color: black;
}
td.i:hover {
    background-color: #200000;
}
td.i:active {
    background-color: #800000;
}
td.t {
    color: red;
    background-color: black;
    width: 50%;
    font-size: 60px;
}
td.t:hover {
    background-color: #200000;
}
td.t:active {
    background-color: #800000;
}
td.ia {
    color: black;
    background-color: red;
}
td.ia:hover {
    background-color: #c00000;
}
td.ia:active {
    background-color: #800000;
}
td.ta {
    color: black;
    background-color: red;
    width: 50%;
    font-size: 60px;
}
td.ta:hover {
    background-color: #c00000;
}
td.ta:active {
    background-color: #800000;
}
td.id, td.id:hover, td.id:active {
    color: #800000;
    background-color: black;
}
td.ida, td.ida:hover, td.ida:active {
    color: #800000;
    background-color: #500000;
}

th {
    text-align: center;
    border: 2px solid red;
    font-size: 40px;
    font-weight: normal;
}
th.interface {
    height: 16%;
}
th:hover {
    background-color: #200000;
}
th:active {
    background-color: #800000;
}
th.interface {
    width: 10%;
}

tr.interface.h {
    height: 16%;
}
tr.interface {
    height: 21%;
}
