div.games,
div.game {
    color: white;
    padding: 10px;
}

h2.gamenotready {
    color: red;
    -webkit-user-select: none;
    user-select: none;
    cursor: not-allowed;
    width: max-content;
}

h2.gameinprogress {
    color: darkorange;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    width: max-content;
}

h2.gameready {
    color: green;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    width: max-content;
}

h2.gameinprogress:hover {
    color: #ffb500;
}

h2.gameinprogress:active {
    color: yellow;
}

h2.gameready:hover {
    color: #40aa40;
}

h2.gameready:active {
    color: #bbffbb;
}

p.gameback {
    color: green;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    width: max-content;
}

p.gameback:hover {
    color: lightgreen;
}