p.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

a.bst {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 40px;
}

details.list {
    margin-left: 40px;
}

summary.dos, details.list {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}